## Session 1 - Introduction to data structures in Python

### Data structures: a way to store and organise data.

#### Primitive - fundamental data structures
* Integers
* Floats
* Booleans
* Strings

#### Non-primitive - data structures made out of other data structures
* Lists
* Dictionaries
* Tuples
* Sets

Some data structures are more suitable to certain problems than others.  

The right choice can make your code:
* faster
* more memory efficient
* more readable

#### Integers and floats

In [ ]:
12

In [ ]:
14 + 3

In [ ]:
2 * 11

In [ ]:
4 ** 2

In [ ]:
a = 7

In [ ]:
type(a)

In [ ]:
b = 2.5
type(b)

In [ ]:
5 / 4

In [ ]:
4 == 4.0

#### Booleans

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In [ ]:
True == False

In [ ]:
True == True

In [ ]:
False == False

In [ ]:
isinstance(True, int)

In [ ]:
True + 10

In [ ]:
False + 4

In [ ]:
'23' + 4

#### Strings

In [ ]:
'abcde'

In [ ]:
my_string = 'hello'
type(my_string)

In [ ]:
len(my_string)

In [ ]:
my_string + '!!!'

In [ ]:
my_string[3]

In [ ]:
my_string[::-1]

In [ ]:
str(3.4)

#### Lists - containers that can store data of any type

In [ ]:
[1, 2, 3]

In [ ]:
my_list = [5, 'a', 20, False, 'z']

In [ ]:
type(my_list)

In [ ]:
len(my_list)

In [ ]:
my_list[0]

In [ ]:
my_list[-1]

In [ ]:
my_list[2:4]

In [ ]:
my_list.append('new item')

In [ ]:
my_list

In [ ]:
my_list[3] = 'another item'

In [ ]:
my_list

In [ ]:
20 in my_list

In [ ]:
'b' in my_list

In [ ]:
'b' in my_list

In [ ]:
my_list.pop()

In [ ]:
my_list

In [ ]:
my_list.pop(0)

In [ ]:
my_list

In [ ]:
numerical_list = [4, 1, 10, 31, 22]
sorted(numerical_list)

#### Dictionaries

In [ ]:
phones = {'iphone': 1000, 'samsung': 800, 'nokia': 200}

In [ ]:
phones['iphone']

In [ ]:
phones.keys()

In [ ]:
phones.values()

In [ ]:
phones['motorola'] = 500

In [ ]:
del phones['nokia']

In [ ]:
phones

#### Tuples - like lists but immutable

In [ ]:
my_tuple = (12, 14, 16)

In [ ]:
type(my_tuple)

In [ ]:
len(my_tuple)

In [ ]:
my_tuple[2]

In [ ]:
my_tuple[2] = 15

#### Sets

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [ ]:
basket

In [ ]:
'orange' in basket

In [ ]:
'pineapple' in basket

In [ ]:
a = set('abracadabra')
b = set('alacazam')

In [ ]:
a

In [ ]:
b

In [ ]:
a - b  # letters in a but not in b

In [ ]:
a | b  # letters in a or b or both

In [ ]:
a & b  # letters in both a and b

In [ ]:
a ^ b  # letters in a or b but not both

### Quiz

1) What type of value is 3.25 + 4?

In [1]:
type(3.25 + 4)

float

2) What are the 4th and 4th last elements of `my_list`?

In [3]:
my_list = [12, 6, 3, 26, 10, 3, 63, 13, 92, 89]

In [4]:
my_list[3]

26

In [5]:
my_list[-4]

63

3) Reverse `my_list` in descending order.

In [8]:
sorted(my_list)[::-1]

[92, 89, 63, 26, 13, 12, 10, 6, 3, 3]

In [9]:
sorted(my_list, reverse=True)

[92, 89, 63, 26, 13, 12, 10, 6, 3, 3]

4) Calculate the number of items in the dictionary `phones`.

In [11]:
phones = {'iphone': 1000, 'samsung': 800, 'nokia': 200}
len(phones)

3

In [13]:
len(phones.keys())

3

5) Calculate the sum of the values in `phones`.

In [15]:
sum(phones.values())

2000

6) Output a string with the character `*` repeated 100 times.

In [16]:
'*' * 100

'****************************************************************************************************'